.App {
  text-align: center;
}

.NotFound {
  background-color: #ffedef;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 3vmin);
  color: #eeeeee;
}

.NotFoundImage {
  height: 30%;
  flex: 1;
}

img.NotFound {
  flex: 1;
  height: 50%;
  width: auto;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 3vmin);
  color: #eeeeee;
}


.App-body {
  background-color: black;
  min-height: 100vh;
  display: flex;
  font-size: calc(10px + 2vmin);
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  color: #eeeeee;
}

.chevron1 {
  position: absolute;
  left: 49%;
  bottom: 5%;
  color: #eeeeee;
  fill: #eeeeee;
}

.chevron2 {
  margin-top: 0.5em;
  color: #eeeeee;
  fill: #eeeeee;
}

.icon {
  display: flex;
  flex-direction: row;
  color: #eeeeee;
  fill: #eeeeee;
}

.github {
  transition: all 0.4s;
  color: #eeeeee;
  fill: #eeeeee;
  &:hover  {
    color: #6441a5;
    fill: #6441a5;
  }
}

.githubBubble {
  border-radius: 50%;
  width: 2em;
  height: 2em;
  line-height: 2em;
}

.code {
  margin-top: 0.5em;
  transition: all 0.4s;
  color: #eeeeee;
  fill: #eeeeee;
  &:hover  {
    color: red;
    fill: red;
  }
}

.linkedin:hover {
  background: #0077B5;
  fill: #0077B5;
}

.email:hover {
  background: #e70c6b;
  fill: #e70c6b;
}

.resume:hover {
  background: #fecb2c;
  fill: #fecb2c;
}

.bubble {
  background: #eeeeee;
  color: black;
  border-radius: 50%;
  width: 2em;
  height: 2em;
  line-height: 2em;
  text-align: center;
  transition: all 0.4s;
}

.Node\.js {
  color: #44883e;
}

.JavaScript {
  color: #f7df1e;
}

.React\.js {
  color: #00d8ff;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header1 {
  position: relative;
  top: 2em;
  font-size: 7vmin;
  font-weight: 200;
  background: transparent;
  border-radius: 10px;
  height: 0.03em;
  width: 50%;
  box-shadow: 0 1.2em 0 0 #eeeeee;
}

.header2 {
  position: relative;
  top: 2em;
  font-size: 7vmin;
  font-weight: 200;
  background: transparent;
  border-radius: 10px;
  height: 0.03em;
  width: 7em;
  box-shadow: 0 calc(12px + 1.2em) 0 0 #eeeeee;
}

.bodyContent {
  border-radius: 2em;
  padding: 5em;
  margin: 2em;
  background-image: url('./assets/power.jpg');
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
}

.bodyBlock {
  border-radius: 0.5em;
  padding: 1em;
  margin: 5em;
  background-color: rgba(0, 0, 0, 0.9);
}

.portrait {
  height: auto;
  width: 15em;
  border-radius: 50%;
  margin-top: 15%;
}

.backgroundImg {
  width: 100%;
  height: auto;
  opacity: 0.5;
}

.projectsHeader {
  font-weight: 200;
  margin-top: 75%;
}

.projectsBlock {
  display: flex;
  flex-direction: row;
  width: 50%;
  height: auto;
  border-radius: 1em;
  border-color: #eeeeee;
  border-width: 2px;
  border-style: solid;
  margin: 5%;
}

.projectsDetailsBlock {
  width: 15em;
  height: auto;
}

.projectsDetails {
  padding: 2vmin;
}

.projectsImage {
  object-fit: cover;
  height: auto;
  width: 100%;
  border-color: #eeeeee;
  border-radius: 0 0.9em 0.9em 0;
}

.projectsTechIcons {
  padding: 1vmin;
}

.projectsSecondaryTechIcons {
  height: calc(10px + 2vmin);
  width: calc(10px + 2vmin);
  margin-bottom: 0.5vmin;
  padding: 0 1vmin;
}

.titleTag {
  height: calc(10px + 2vmin);
  width: calc(10px + 2vmin);
}

a {
  border-radius: 50%;
  margin: auto 4vmin;
}

html {
  scroll-behavior: smooth;
  background-color: black;
}
